*{
  margin: 0;
  padding: 0;
}
.App {
  max-width: 100vw;
  width: 100vw;
}
.flex {
  display: flex;
  align-items: center;
}



/* navigation */
nav{
  width: 100vw;
  max-width: 100vw;
  background-color: aqua;
  height: 5em;
  justify-content: center;
}
 .maxwidth{
  width: 75%;
 }
.navbar{
  justify-content: space-between;
} 
nav .logo img{
  height: 4em;
}
.navComp .linkbox .link{
text-decoration: none;
font-size: 25px;
}
.navComp .linkbox{
margin-left: 3rem;
}




/* home */
#CodeofConduct{
  background-color: blue;
  height: 60vh;
  width: 100%;
}
#Faq{
  background-color: rgb(48, 195, 121);
  height: 60vh;
  width: 100%;
}
#Home{
  background-color: rgb(228, 174, 80);
  height: 60vh;
  width: 100%;
}
#Speakers{
  background-color: rgb(228, 80, 174);
  height: 60vh;
  width: 100%;
}

