*{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.App {
  max-width: 100vw;
  width: 100vw;
}
.flex {
  display: flex;
  align-items: center;
}



/* navigation */
nav{
  width: 100vw;
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.79);
  height: 5em;
  justify-content: center;
  position: fixed;
  
}
 .maxwidth{
  width: 75%;
 }
.navbar{
  justify-content: space-between;
  
} 
nav .logo img{
  height: 4em;
}
.navComp .linkbox .link{
text-decoration: none;
font-size: 25px;
}
.navComp .linkbox{
margin-left: 3rem;
}




/* home */
#Home{
  background-color: rgb(243, 222, 185);
  height: auto;
  width: 100%;
}
.leanding{
  height: 78vh;
}
.bottem{
  
  background-color:#4285f4;
}
.homeleft{
  /* background-color: aquamarine; */
  height: 100%;
  width: 55%;
}
.homeright{
  /* background-color: rgb(24, 43, 129); */
  height: 100%;
  width: 45%;
}
.btn{
 font-size: 1.1rem;
 padding: 10px 14px;
 border: none;
 font-weight: 500;
 border-radius: 4px;
 color: white;
 cursor: pointer;
}
.btn1{
  background-color:#4285f4;
  margin-right: 2rem;
}
.btn2{
  background-color:#FBBC05;
}
.btn3{
  background-color:#34A853;
}
.textbox{
  padding-left: 10vw;
}
.textbox h1{
  color: rgb(66 133 244);
  font-weight: 400;
  font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
   
}
.textbox p{
  color: rgb(67, 67, 67);
  font-size: 1rem;
  line-height: 1.5rem;
  
}
.textbox h5{
  color: rgb(34, 34, 34);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1.5rem!important;
  font-weight: 400;
}
.textbox button{
  margin-top: 1.5rem;
}
.bottem{
  color: white;
  padding: 2rem 10vw;
  padding-right: 35vw;
}
.bottem h2{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.bottem p{
  margin-bottom: 1.5rem!important;
  font-size: 1rem;
  line-height: 1.5rem;
}
.bottem button{
  background-color: transparent!important;
  padding-bottom: 0.5rem!important;
    padding-top: 0.5rem!important;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
   
    border: 2px solid white;
}





/* speaker section */
#Speakers{
  padding-top: 3rem!important;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
#Speakers h3{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}
#Speakers p{
  max-width: 42rem;
  text-align: center!important;
  margin-top: 0.5rem!important;
  font-weight: 300;
  font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.707);
    margin-bottom: 3rem;
}
.card-grid{
  display: grid;
  max-width: 80vw;
  column-gap: 2rem;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fill,min-width);
}
.speaker-card{
  padding: 1.5rem!important;
  border: 1px solid #dee2e6!important;
  transition-duration: .3s;
  
  min-width: 13rem;
  max-width: 25rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.speaker-card img{
  border-style: solid;
    border-width: 4px;
    border-color: rgb(61, 130, 248) rgb(229, 68, 63) rgb(249, 185, 35) rgb(46, 169, 79);
    border-radius: 9999px;
    width: 9rem;
    height: 9rem;
    vertical-align: middle;
}
.speaker-card h4{
  text-align: center!important;
  margin-top: 1.5rem!important;
  font-weight: 300;
  font-size: 1.125rem;
    line-height: 1.75rem;
}
.speaker-card p{
  margin-top: 0.5rem!important;
  font-size: .875rem;
  line-height: 1.25rem;
  max-width: 24rem;
}



/* CodeofConduct section */
#CodeofConduct{
  max-width: 100vw;
  
}
#CodeofConduct h2{
  font-weight: 400;
  font-size: 1.875rem;
    line-height: 2.25rem;
    padding-left: 10vw;
    padding-right: 10vw;
}
#CodeofConduct p{
  margin-top: 1.5rem!important;
  font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(46, 46, 46);
    padding-left: 10vw;
    padding-right: 10vw;

}
.darkbox{
  background-color: rgb(235, 235, 235);
  margin: 2rem 10vw;
  padding-bottom: 1.5rem;
  border-radius: 15px;
  display: flex;
}
.darkboxdiv h3{
  padding-top: 1.5rem;
  
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: rgb(42, 42, 42);
  display: flex;

} 
.darkboxdiv p{
  padding-top: 1.5rem;
  padding: 0 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: rgb(42, 42, 42);
  display: flex;

} 



/* faq section */
#Faq{
  background-color: rgb(48, 195, 121);
  height: 60vh;
  width: 100%;
}





/* meadia quireay */
@media (min-width: 600px) {
  .card-grid { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .card-grid { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1200px) {
  .card-grid { grid-template-columns: repeat(4, 1fr); }
}